<!DOCTYPE html>
<html>

<head>
    <title>RoomNightVendor</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="lib/iview.css">
    <link rel="stylesheet" href="style/main.css">
    <script src='../dist/index.js'></script>
    <script src='lib/vue.min.js'></script>
    <script src='lib/iview.min.js'></script>
</head>

<body>
    <div id="app">
        <Card>
            <p slot="title">
                RoomNightVendor.createRatePlan
            </p>
            <i-form 
                label-position="right" 
                :label-width="70"
                :model="dataCreateRatePlan"
                ref="formCreateRatePlan">
                <form-item 
                    label="name" 
                    prop="name"
                    :rules="{required: true, message: 'Please enter name', trigger: 'blur'}">
                    <i-input v-model="dataCreateRatePlan.name"></i-input>
                </form-item>
                <form-item 
                    label="ipfs" 
                    prop="ipfs"
                    :rules="{required: true, message: 'Please enter ipfs', trigger: 'blur'}">
                    <i-input v-model="dataCreateRatePlan.ipfs"></i-input>
                </form-item>
                <form-item>
                    <i-button 
                        type="primary" 
                        @click="createRatePlan()">Submit</i-button>
                </form-item>
            </i-form>
        </Card>
    </div>
    <script type="text/JavaScript">
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                tripio: null,
                account: '',
                dataCreateRatePlan: {
                    name: 'test',
                    ipfs: 'Qmaj8UWNjTzBMBHkkaqSiyax2nFgiwYP2ewxnhGBucn6S8'
                }
            },
            mounted: function() {

                this.tripio = new Tripio(web3, {
                    env: 'ropsten'
                });

                web3.eth.getAccounts((error, accounts)=> {
                    if (!error) {
                        this.account = accounts[0]
                    }
                });
            },
            methods: {
                createRatePlan: function() {
                    console.log(this.dataCreateRatePlan.name);
                    this.$refs.formCreateRatePlan.validate((valid) => {
                        if(valid) {
                            var vendor = this.tripio.roomNightVendor.createRatePlan(this.dataCreateRatePlan.name, this.dataCreateRatePlan.ipfs, {
                                from: this.account
                            });
                        }
                    });
                    
                }
            }
        })
    </script>
</body>

</html>